<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @size.size_id %>
</p>

<p>
  <strong>Size name:</strong>
  <%= @size.size_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @size.description %>
</p>

<p>
  <strong>Products of this size:</strong>
  <%= (@size.products.collect { |product| product.product_name }).join(", ") %>
</p>

<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
